{% extends '@SyliusShop/layout.html.twig' %}

{% block metatags %}
{% endblock %}

{% block content %}
    <h1>{{ 'ecolos_sylius_brand_plugin.brands' | trans }}</h1>

    <div class="ui grid mt-1">
        {% for brand in brands %}

            <div class="center aligned four wide column">
                <a href="{{ path('ecolos_sylius_brand_plugin_show', { slug: brand.slug }) }}">
                    <div class="ui segment" style="height: 175px;">
                        {% if brand.images.count %}
                            <img class="ui small image centered middle aligned" src="{{ asset('media/image/' ~ brand.images
                                .first().path) }}" alt="{{ brand.name }}"/>
                        {% else %}
                            {{ brand.name }}
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
