{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ maker.name }} ({{ 'ecolos_sylius_maker_plugin.maker' | trans }}){% endblock %}

{% block metatags %}
{% endblock %}

{% block content %}
    <h1>{{ maker.name }} ({{ 'ecolos_sylius_maker_plugin.maker' | trans }})</h1>

    <div class="ui grid">
        <div class="eight wide column">
            {% if maker.description is not null %}
                <h2>{{ 'sylius.ui.description' | trans }}</h2>

                <div class="ui grid mt-1">
                    {{ maker.description | raw }}
                </div>
            {% endif %}

            {% if maker.address is not null %}
                <h2>{{ 'sylius.ui.address' | trans }}</h2>

                <div class="ui grid mt-1">
                    {{ maker.address | raw }}
                </div>
            {% endif %}
        </div>

        <div class="eight wide column">
            {% if maker.images.count %}
                <img class="ui image centered middle aligned" src="{{ asset('media/image/' ~ maker.images
                    .first().path) }}" alt="{{ maker.name }}"/>
            {% else %}
                {{ maker.name }}
            {% endif %}
        </div>
    </div>
{% endblock %}
