{% extends '@SyliusShop/layout.html.twig' %}

{% block title %}{{ maker.name }} ({{ 'ecolos_sylius_maker_plugin.maker' | trans }}){% endblock %}

{% block metatags %}
{% endblock %}

{% set hasImage = maker.images.count != 0 %}

{% set taxons = [] %}
{% for product in products %}
    {% if product.mainTaxon not in taxons %}
        {% set taxons = taxons|merge([product.mainTaxon]) %}
    {% endif %}
{% endfor %}

{% block content %}
    <h1>{{ maker.name }} ({{ 'ecolos_sylius_maker_plugin.maker' | trans }})</h1>

    <div class="ui stackable grid">
        <div class="{{ hasImage ? "eight" : "sixteen" }} wide column">
            {% if maker.description is not null %}
                <h2>{{ 'sylius.ui.description' | trans }}</h2>

                <div class="ui grid mt-1">
                    {{ maker.description | raw }}
                </div>
            {% endif %}

            {% if maker.address is not null %}
                <h2>{{ 'sylius.ui.address' | trans }}</h2>

                <div class="ui grid mt-1">
                    {{ maker.address | raw }}
                </div>
            {% endif %}
        </div>

        {% if hasImage %}
            <div class="eight wide column">
                <img class="ui image centered middle aligned"
                     src="{{ asset('media/image/' ~ maker.images.first().path) }}"
                     alt="{{ maker.name }}"/>
            </div>
        {% endif %}

        <h3 class="sixteen wide column">{{ "sylius.ui.products" | trans }} {{ "ecolos_sylius_maker_plugin.from" | trans }} {{ maker.name }}</h3>

        {% for taxon in taxons %}
            <h4>{{ taxon.name }}</h4>

            <div class="row">
                <div class="ui four stackable cards">
                    {% for product in products if product.enabled and product.slug is not null and product.mainTaxon
                        .code == taxon.code and
                        product.mainTaxon.code == taxon.code %}
                        {% set img = product.images.first() %}

                        {% set imgPath = img != false ? img.path | length ? asset('media/image/' ~
                            img.path) : '//placehold.it/400x300' : '//placehold.it/400x300' %}

                        <a class="ui fluid centered raised card"
                           href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
                           title="{{ product.name }}">
                            <div class="ui slide masked reveal image">
                                <img class="ui small image" src="{{ imgPath }}"
                                     alt="{{ product.name }}"/>
                            </div>

                            <div class="center aligned header">{{ product.name }}</div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
